html {
  font-size: 62.5%; }

header {
  background: #f9f8f6; }
  @media (max-width: 549px) {
    header .pc_navi {
      display: none; }
    header .pc_fbin {
      display: none; } }
  @media (min-width: 550px) {
    header {
      padding-bottom: 40px; }
      header .sp_logo {
        display: none; }
      header .sp_menu {
        display: none; } }
  header .sp_logo {
    text-align: center;
    padding-top: 15px; }
  header .sp_menu {
    text-align: center;
    padding: 10px 0; }
    header .sp_menu #sp_navi_btn {
      cursor: pointer; }
    header .sp_menu #sp_instagram_btn {
      margin: 0 10px; }
    header .sp_menu .sp_navi_li {
      display: none;
      list-style: none; }
  header .pc_logo {
    padding-top: 40px; }
    @media (max-width: 549px) {
      header .pc_logo {
        display: none; } }
  header .pc_menu {
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding-top: 60px; }
    @media (max-width: 549px) {
      header .pc_menu {
        display: none; } }
    header .pc_menu .pc_navi li {
      list-style: none;
      display: inline-block;
      padding-right: 20px; }
    header .pc_menu #facebook_btn {
      padding-right: 5px; }

.main {
  background: #f9f8f6; }
  .main .container {
    border-bottom: thin solid #887f69; }
  .main .pankuzulist {
    background: #e2ddd4;
    color: #887f69;
    padding: 10px 0px 10px 10px;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px 5px; }
    @media (max-width: 549px) {
      .main .pankuzulist {
        margin-bottom: 15px; } }
    @media (min-width: 550px) {
      .main .pankuzulist {
        margin-bottom: 10px; } }
    .main .pankuzulist ol li {
      display: inline;
      list-style: none;
      font-size: 11px;
      font-size: 1.1rem; }
  .main .pankuzulist ol li:before {
    content: " / "; }
  .main .pankuzulist ol li:first-child:before {
    content: none; }
  .main .cover_area {
    margin-bottom: 10px; }
    @media (max-width: 549px) {
      .main .cover_area .pc_cover {
        display: none; } }
    @media (min-width: 550px) {
      .main .cover_area .sp_cover {
        display: none; } }
  .main .newitem_area {
    background: #f9f8f6; }
    .main .newitem_area .flex_box {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      @media (min-width: 550px) {
        .main .newitem_area .flex_box .newitems:nth-child(n + 4) {
          margin-top: 6px; } }
      @media (max-width: 549px) {
        .main .newitem_area .flex_box .newitems:nth-child(n + 3) {
          margin-top: 6px; } }
      .main .newitem_area .flex_box .newitems {
        background: white;
        text-align: center;
        padding: 10px; }
        @media (min-width: 550px) {
          .main .newitem_area .flex_box .newitems {
            width: 30%; } }
        @media (max-width: 549px) {
          .main .newitem_area .flex_box .newitems {
            width: 49%;
            box-sizing: border-box; } }
      .main .newitem_area .flex_box .newitems p {
        text-align: left;
        font-size: 12px;
        font-size: 1.2rem; }
  .main .back_next {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    text-align: center; }
    .main .back_next .text {
      background: #887f69;
      color: white;
      width: 120px;
      margin: 20px 0 30px 0;
      padding: 15px 0; }
  @media (max-width: 549px) {
    .main .recentryitem_area {
      width: 100%; }
      .main .recentryitem_area .pc_title {
        display: none; }
      .main .recentryitem_area .sp_title {
        padding-bottom: 20px;
        background: #f9f8f6;
        text-align: center; } }
  @media (min-width: 550px) {
    .main .recentryitem_area .sp_title {
      display: none; }
    .main .recentryitem_area .pc_title {
      padding-bottom: 30px;
      background: #f9f8f6; } }
  .main .recentryitem_area .recentryitem_list {
    background: #f9f8f6; }
    .main .recentryitem_area .recentryitem_list .flex_box {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between; }
      @media (max-width: 549px) {
        .main .recentryitem_area .recentryitem_list .flex_box {
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
          .main .recentryitem_area .recentryitem_list .flex_box .popularitems:nth-child(n + 3) {
            margin-top: 6px; } }
      .main .recentryitem_area .recentryitem_list .flex_box .popularitems {
        background: white;
        text-align: center;
        padding: 10px; }
        @media (min-width: 550px) {
          .main .recentryitem_area .recentryitem_list .flex_box .popularitems {
            width: 30%; } }
        @media (max-width: 549px) {
          .main .recentryitem_area .recentryitem_list .flex_box .popularitems {
            width: 49%;
            box-sizing: border-box; }
            .main .recentryitem_area .recentryitem_list .flex_box .popularitems .item_img {
              width: 98%; } }
      .main .recentryitem_area .recentryitem_list .flex_box .popularitems p {
        text-align: left;
        font-size: 12px;
        font-size: 1.2rem; }
  .main .pc_shoppingguide_title {
    padding: 30px 0;
    text-align: center; }
    @media (max-width: 549px) {
      .main .pc_shoppingguide_title {
        display: none; } }
  .main .sp_shppingguide_title {
    padding: 20px 0;
    display: block;
    margin: 0 auto; }
    @media (min-width: 550px) {
      .main .sp_shppingguide_title {
        display: none; } }
  .main .shoppingguide_area {
    background: #f9f8f6; }
    @media (min-width: 550px) {
      .main .shoppingguide_area {
        margin-bottom: 90px; } }
    .main .shoppingguide_area .flex_box {
      display: -webkit-flex;
      display: flex; }
      @media (min-width: 550px) {
        .main .shoppingguide_area .flex_box {
          -webkit-justify-content: space-between;
          justify-content: space-between; } }
      @media (max-width: 549px) {
        .main .shoppingguide_area .flex_box {
          -webkit-flex-direction: column;
          flex-direction: column;
          -webkit-align-content: bitween;
          align-content: bitween; }
          .main .shoppingguide_area .flex_box .shopping + .shopping {
            margin-top: 4px; } }
      .main .shoppingguide_area .flex_box .shopping {
        background: white; }
        @media (min-width: 550px) {
          .main .shoppingguide_area .flex_box .shopping {
            width: 49%; } }
    .main .shoppingguide_area .midashi {
      color: #887f69;
      font-size: 16px;
      font-size: 1.6rem;
      padding: 15px 0px 10px 10px; }
    .main .shoppingguide_area .komidashi {
      color: #887f69;
      font-size: 12px;
      font-size: 1.2rem;
      padding-left: 10px; }
    .main .shoppingguide_area .guide_picture {
      padding: 10px 0px 10px 10px; }
    .main .shoppingguide_area p {
      font-size: 12px;
      font-size: 1.2rem;
      padding: 10px 0px 10px 10px; }
  .main .right_area .search_area {
    background: white;
    padding-bottom: 20px; }
    @media (max-width: 549px) {
      .main .right_area .search_area {
        margin-top: 15px;
        margin-bottom: 5px;
        padding: 22px 0; } }
  .main .right_area .search_title {
    display: block;
    padding: 20px 0 0 20px; }
    @media (max-width: 549px) {
      .main .right_area .search_title {
        display: none; } }
  .main .right_area .search_form {
    width: 80%;
    background: #f9f8f6 url("../images/top/search_icon.png") no-repeat right 10px bottom 50%;
    border: none;
    display: block; }
    @media (min-width: 550px) {
      .main .right_area .search_form {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto; } }
    @media (max-width: 549px) {
      .main .right_area .search_form {
        margin-left: auto;
        margin-right: auto; } }
  .main .right_area input::-webkit-input-placeholder {
    color: #e2ddd4; }
  .main .right_area .right_menus {
    background: #887f69;
    border: none;
    display: -webkit-flex;
    display: flex;
    margin-top: 10px; }
    .main .right_area .right_menus .title_brown {
      padding: 20px 0 20px 15px; }
    .main .right_area .right_menus .next_white {
      margin-left: auto;
      padding: 18px 15px 18px 0px; }
    .main .right_area .right_menus .next_down {
      margin-left: auto;
      padding: 20px 15px 20px 0px; }
  @media (max-width: 549px) {
    .main .right_area .pegelink_area {
      margin-top: 15px; } }
  .main .right_area #toggle_btn {
    cursor: pointer; }
  .main .right_area .category_toggle {
    display: none;
    list-style: none; }
    .main .right_area .category_toggle li {
      display: block;
      font-size: 12px;
      font-size: 1.2rem;
      padding: 18px 10px 18px 15px;
      background: white url("../images/top/next_icon_gray.png") no-repeat right 18px bottom 54%;
      border-bottom: solid thin #f9f8f6; }
  .main .right_area .contents_area {
    background: white; }
    .main .right_area .contents_area .content_picture {
      padding: 10px; }
    .main .right_area .contents_area p {
      padding: 0 20px 0 10px;
      font-size: 12px;
      font-size: 1.2rem; }
      @media (max-width: 549px) {
        .main .right_area .contents_area p {
          margin-top: 10px; } }
    .main .right_area .contents_area .more {
      padding: 20px 0;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    @media (max-width: 549px) {
      .main .right_area .contents_area .flex_box {
        display: -webkit-flex;
        display: flex; }
        .main .right_area .contents_area .flex_box .flex_pic {
          width: 50%; }
        .main .right_area .contents_area .flex_box .flex_titlemore {
          width: 50%; } }
  @media (min-width: 550px) {
    .main .right_area .page_top {
      position: absolute;
      bottom: 0;
      right: 0; } }
  @media (max-width: 549px) {
    .main .right_area .page_top {
      display: block;
      text-align: center;
      padding: 20px 100px; } }

footer {
  background: #f9f8f6;
  padding-bottom: 100px; }
  footer p {
    text-align: center;
    display: block;
    padding-top: 30px;
    color: black;
    font-size: 12px;
    font-size: 1.2rem; }
  footer small {
    text-align: center;
    display: block;
    padding-top: 20px;
    color: #e2ddd4; }

h1 {
  margin: 0;
  padding: 0;
  line-height: 1; }

a {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

ul {
  margin-bottom: 0; }

li {
  margin-bottom: 0; }

form {
  margin-bottom: 0; }

ol {
  margin-bottom: 0; }

table {
  margin: 0; }

input {
  margin-bottom: 0; }

/*# sourceMappingURL=style2.css.map */
