html {
  font-size: 62.5%; }

header {
  background: #f9f8f6; }
  @media (max-width: 549px) {
    header .pc_navi {
      display: none; }
    header .pc_fbin {
      display: none; } }
  @media (min-width: 550px) {
    header .sp_logo {
      display: none; }
    header .sp_menu {
      display: none; } }
  header .sp_logo {
    text-align: center;
    padding-top: 15px; }
  header .sp_menu {
    text-align: center;
    padding: 10px 0; }
    header .sp_menu #sp_navi_btn {
      cursor: pointer; }
    header .sp_menu .sp_navi_li {
      display: none;
      list-style: none; }
  header .pc_logo {
    padding-top: 40px; }
    @media (max-width: 549px) {
      header .pc_logo {
        display: none; } }
  header .pc_menu {
    display: flex;
    padding-top: 60px; }
    @media (max-width: 549px) {
      header .pc_menu {
        display: none; } }
    header .pc_menu .pc_navi li {
      list-style: none;
      display: inline-block;
      padding-right: 20px; }
    header .pc_menu #facebook_btn {
      padding-right: 5px; }

.main {
  background: #f9f8f6; }
  @media (min-width: 550px) {
    .main .cover_area {
      padding-top: 40px; } }
  .main .pc_newitems_title {
    padding: 30px 0; }
    @media (max-width: 549px) {
      .main .pc_newitems_title {
        display: none; } }
  .main .sp_newitems_title {
    padding: 15px 0;
    display: block;
    margin: 0 auto; }
    @media (min-width: 550px) {
      .main .sp_newitems_title {
        display: none; } }
  .main .newitem_area {
    background: white; }
    .main .newitem_area .flex_box {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      .main .newitem_area .flex_box .newitems {
        text-align: center;
        -webkit-flex: 1;
        flex: 1;
        padding: 10px; }
      .main .newitem_area .flex_box .newitems p {
        text-align: left; }
  .main .pc_popularitems_title {
    padding: 30px 0; }
    @media (max-width: 549px) {
      .main .pc_popularitems_title {
        display: none; } }
  .main .sp_popularitems_title {
    padding: 15px 0;
    display: block;
    margin: 0 auto; }
    @media (min-width: 550px) {
      .main .sp_popularitems_title {
        display: none; } }
  .main .popularitem_area {
    background: white; }
    .main .popularitem_area .flex_box {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      .main .popularitem_area .flex_box .popularitems {
        text-align: center;
        -webkit-flex: 1;
        flex: 1;
        padding: 10px; }
      .main .popularitem_area .flex_box .popularitems p {
        text-align: left; }
  .main .pc_shoppingguide_title {
    padding: 30px 0; }
    @media (max-width: 549px) {
      .main .pc_shoppingguide_title {
        display: none; } }
  .main .sp_shpppingguide_title {
    padding: 15px 0;
    display: block;
    margin: 0 auto; }
    @media (min-width: 550px) {
      .main .sp_shpppingguide_title {
        display: none; } }
  .main .shoppingguide_area {
    background: #f9f8f6; }
    @media (min-width: 550px) {
      .main .shoppingguide_area {
        margin-bottom: 90px; } }
    .main .shoppingguide_area .flex_box {
      display: -webkit-flex;
      display: flex; }
      @media (min-width: 550px) {
        .main .shoppingguide_area .flex_box {
          -webkit-justify-content: space-between;
          justify-content: space-between; } }
      @media (max-width: 549px) {
        .main .shoppingguide_area .flex_box {
          -webkit-flex-direction: column;
          flex-direction: column;
          -webkit-align-content: bitween;
          align-content: bitween; } }
      .main .shoppingguide_area .flex_box .shopping {
        background: white; }
        @media (min-width: 550px) {
          .main .shoppingguide_area .flex_box .shopping {
            width: 49%; } }
    .main .shoppingguide_area .midashi {
      color: #887f69;
      font-size: 15px;
      font-size: 1.5rem;
      padding: 15px 0px 10px 10px; }
    .main .shoppingguide_area .komidashi {
      color: #887f69;
      font-size: 10px;
      font-size: 1rem;
      padding-left: 10px; }
    .main .shoppingguide_area .guide_picture {
      padding: 10px 0px 10px 10px; }
    .main .shoppingguide_area p {
      font-size: 10px;
      font-size: 1rem;
      padding: 10px 0px 10px 10px; }
  @media (min-width: 550px) {
    .main .right_area {
      padding-top: 40px; } }
  .main .right_area .search_area {
    background: white; }
    @media (max-width: 550px) {
      .main .right_area .search_area {
        margin-top: 15px; } }
  .main .right_area .search_title {
    display: block;
    padding: 20px 0 0 20px; }
    @media (max-width: 550px) {
      .main .right_area .search_title {
        display: none; } }
  .main .right_area .search_form {
    width: 80%;
    background: #f9f8f6 url("../images/top/search_icon.png") no-repeat right;
    border: none;
    margin: 10px 0 20px 20px; }
  .main .right_area input::-webkit-input-placeholder {
    color: #e2ddd4; }
  .main .right_area .right_menus {
    background: #887f69;
    border: none;
    display: -webkit-flex;
    display: flex;
    margin-top: 10px; }
    .main .right_area .right_menus .title_brown {
      padding: 20px 0 20px 15px; }
    .main .right_area .right_menus .next_white {
      margin-left: auto;
      padding: 20px 15px 20px 0px; }
  .main .right_area .contents_area {
    background: white; }
    .main .right_area .contents_area .content_picture {
      padding: 10px; }
    .main .right_area .contents_area p {
      padding: 0 20px 0 10px; }
    .main .right_area .contents_area .more {
      padding: 20px 60px; }
    @media (max-width: 549px) {
      .main .right_area .contents_area .flex_box {
        display: -webkit-flex;
        display: flex; }
        .main .right_area .contents_area .flex_box .flex_pic {
          width: 50%; }
        .main .right_area .contents_area .flex_box .flex_titlemore {
          width: 50%; } }
  @media (min-width: 550px) {
    .main .right_area .page_top {
      position: absolute;
      bottom: 0;
      right: 0; } }
  @media (max-width: 549px) {
    .main .right_area .page_top {
      display: block;
      text-align: center;
      padding: 20px 100px; } }

footer {
  background: #f9f8f6;
  border-top: thin solid #887f69;
  padding-bottom: 100px; }
  footer p {
    text-align: center;
    display: block;
    padding-top: 30px;
    color: black;
    font-size: 10px;
    font-size: 1rem; }
  footer small {
    text-align: center;
    display: block;
    padding-top: 20px;
    color: #e2ddd4; }

h1 {
  margin: 0;
  padding: 0;
  line-height: 1; }

a {
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

ul {
  margin-bottom: 0; }

li {
  margin-bottom: 0; }

form {
  margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
