@import "compass";
@charset "utf-8";

html {
    font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$brown : #887f69;
$lgray : #f9f8f6;
$mgray : #e2ddd4;
$dgray : #b0b0b0;
$red : #9d1a2d;  

header {
  background: $lgray;
  
  @media(max-width: 549px) {
    .pc_navi{
      display: none;
    }
    .pc_fbin{
      display: none;
    }
  }
  
  @media(min-width: 550px) {
    
    padding-bottom: 40px;
    .sp_logo {
      display: none;
    }
    .sp_menu{
      display: none;
    }
  }
  
    
  .sp_logo {
    text-align: center;
    padding-top: 15px;
  }
  
  .sp_menu {
    text-align: center;
    padding:10px 0;
    
    #sp_navi_btn {
      cursor: pointer;
    }
    
    #sp_instagram_btn {
      margin: 0 10px;
    }
    
    .sp_navi_li {
       display: none;
       list-style: none;
    }
    
  }
  
  .pc_logo {
    padding-top: 40px;
    
    @media(max-width: 549px) {
      display: none;
    }
  }
  
  .pc_menu {
    display: flex;
    @include justify-content(flex-end);
    padding-top: 60px;
    
    @media (max-width: 549px) {
      display: none;
    }
    // メモ：@mediaは各クラスの中で定義する。上の方でまとめて定義したりしない（同じクラスについて下の方で定義すると上書きされてしまうため）

    .pc_navi li{
      list-style: none;
      display: inline-block;
      padding-right: 20px;
    }
    
    #facebook_btn {
      padding-right: 5px
    }
    
  }
  
}

.main {
  
  background: $lgray;
  
  .container {
      border-bottom: thin solid $brown;
  }
  
  .pankuzulist {
    
    background: $mgray;
    color: $brown;
    padding: 10px 0px 10px 10px;
    @include border-radius(5px 5px);
    
    @media (max-width: 549px) {
      margin-bottom: 15px;
    }
    
    @media (min-width: 550px) {
      margin-bottom: 10px;
    }  
    
    ol li {
      display: inline;
      list-style: none;
      @include fontsize(11);
    }
  }
  
  .pankuzulist ol li:before {
    content:" / ";
  }
      
  .pankuzulist ol li:first-child:before {
    content: none;      
  }
  
  .cover_area {
    
    margin-bottom: 10px;
    
    @media(max-width: 549px) {
      .pc_cover{
        display: none;
      }
    }
  
    @media(min-width: 550px) {
      .sp_cover {
        display: none;
      }
    }
  }
  
  .newitem_area {
    
  background: $lgray;
    
    .flex_box {
      @include display-flex;
      @include justify-content(space-between);
      @include flex-wrap(wrap);
      
      @media (min-width: 550px) {
        .newitems:nth-child(n + 4) {
          margin-top: 6px;
        }
      }
      @media (max-width: 549px) {
        .newitems:nth-child(n + 3) {
          margin-top: 6px;
        }
      }

      .newitems {
        background: white;
        text-align: center;
        padding: 10px;
        // @include flex(1);
        
        @media (min-width: 550px) {
          width: 30%;
        }
          
        @media (max-width: 549px) {
          width: 49%;
          box-sizing: border-box;
            
        } 
      }
      
      .newitems p{
        text-align: left;
        @include fontsize(12);
      }
    }
  }
  
  .back_next {
    @include display-flex;
    @include justify-content(space-between);
    width: 100%;
    text-align: center;

    .text {
      background: $brown;
      color: white;
      // height: 40px;
      width: 120px;
      margin: 20px 0 30px 0;
      padding: 15px 0; //メモ：テキストの上下中央揃えはpaddingで解決する（vertival等上手くいかない。）
      }
    
  }
  
  .recentryitem_area {
    
    @media(max-width: 549px) {
      
      width: 100%;
      
      .pc_title{
        display: none;
      }
      .sp_title {
        padding-bottom: 20px;
        background: $lgray;
        text-align: center;
      }
    }
  
    @media(min-width: 550px) {
      .sp_title {
        display: none;
      }
      .pc_title {
        padding-bottom: 30px;
        background: $lgray;
      }
    }
  
    .recentryitem_list {
      
    background: $lgray;
      
      .flex_box {
        @include display-flex;
        @include justify-content(space-between);
        
        @media (max-width: 549px) {
          @include flex-wrap(wrap);
         
          .popularitems:nth-child(n + 3) {
            margin-top: 6px;
          }
      
        }
  
        .popularitems {
          background: white;
          text-align: center;
          padding: 10px;
          // @include flex(1);
          
          @media (min-width: 550px) {
            width: 30%;
          }
          
          @media (max-width: 549px) {
            width: 49%;
            box-sizing: border-box;
            
            .item_img {
              width: 98%;
            }
          } 
            
        }
        
        .popularitems p{
          text-align: left;
          @include fontsize(12);
        }
        
      }
    }
  }
  
  .pc_shoppingguide_title {
    padding: 30px 0;
    text-align: center;
    
    @media(max-width: 549px) {
      display: none;
    }
  }
  
  .sp_shppingguide_title {
    padding: 20px 0;
    display: block;
    margin: 0 auto;
  
    @media(min-width: 550px) {
      display: none;
    }
  }
  
  .shoppingguide_area {
    background: $lgray;
    
    @media(min-width: 550px) {
      margin-bottom: 90px;
    }
    
    .flex_box {
      @include display-flex;
      
      @media(min-width: 550px) {
        @include justify-content(space-between);
        // メモ：フレックスボックス間に隙間をつくるため、両端に設置する
      }
      
      @media(max-width: 549px) {
        @include flex-direction(column);
        @include align-content (bitween);
        
        .shopping + .shopping {
          margin-top: 4px;  
        }
        
      }
      
      .shopping {
        background: white;
        
        @media(min-width: 550px) {
          width: 49%;
        // メモ：PC表示のみ横並びにする、-1%は隙間を作るため
        }
        
      }

    }
  
    .midashi {
      color: $brown;
      @include fontsize(16);
      padding: 15px 0px 10px 10px;
    }
    
    .komidashi {
      color: $brown;
      @include fontsize(12);
      padding-left: 10px;
    }
    
    .guide_picture {
      padding: 10px 0px 10px 10px;
    }
    
    p {
      @include fontsize(12);
      padding: 10px 0px 10px 10px;
    }
  }

  .right_area {

    .search_area {
    
      background: white;
      padding-bottom: 20px; //search_form下のmargin相殺現象回避
      
      @media (max-width: 549px){
        margin-top: 15px;
        margin-bottom: 5px;
        padding: 22px 0;
      }
    
    }
    
    .search_title {
      display: block;
      padding: 20px 0 0 20px;
      
      @media (max-width: 549px){
        display: none;
      }
      
    }
    
    .search_form {
      width: 80%;
      background: $lgray url('../images/top/search_icon.png') no-repeat right 10px bottom 50%;
      border: none;
      display: block;

      @media (min-width: 550px) {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
      }
      @media (max-width: 549px) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    input::-webkit-input-placeholder {
      color: $mgray;
    }
    // メモ：検索ボックス内のテキスト色の変更
  
    .right_menus {
      background: $brown;
      border: none;
      @include display-flex;
      margin-top: 10px;

      .title_brown {
        padding: 20px 0 20px 15px;
      }
      
      .next_white {
        margin-left: auto;
        padding: 18px 15px 18px 0px;
      }
      
      .next_down {
        margin-left: auto;
        padding: 20px 15px 20px 0px;
      }
      
    }
        
    .pegelink_area {
      @media (max-width: 549px) {
        margin-top: 15px;
      }
    }
    
    #toggle_btn {
      cursor: pointer;
    }
    
    .category_toggle {
      display: none;
      list-style: none;
      
      li {
        display: block;
        @include fontsize(12);
        padding: 18px 10px 18px 15px;
        background: white url('../images/top/next_icon_gray.png') no-repeat right 18px bottom 54%; //potisionは右下から設定
        border-bottom: solid thin $lgray;
      }  
      
    }
    
    .contents_area {
      background: white;
      
      .content_picture {
        padding: 10px;
      }
      
      p {
        padding: 0 20px 0 10px;
        @include fontsize(12);
        
        @media (max-width: 549px) {
          margin-top: 10px;
        }
      }
      
      .more {
        padding: 20px 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    
      .flex_box {
        
        @media (max-width: 549px) {
          @include display-flex;
          // メモ：スマホ表示の時のみ、横並びにするためフレックスボックスを有効にする。
          
          .flex_pic {
            width: 50%;
          }
          
          .flex_titlemore {
            width: 50%;
          }
          
        }
      }  
      
    }
  
    .page_top {
      @media (min-width: 550px) {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      
      @media (max-width: 549px) {
        display: block;
        text-align: center;
        padding: 20px 100px;
      }
    } 
  } //right_area
} //body

footer {
  background: $lgray;
  padding-bottom: 100px;
  
  p {
    text-align: center;
    display: block;
    padding-top: 30px;
    color: black;
    @include fontsize(12);
  }  
    
  small {
    text-align: center;
    display: block;
    padding-top: 20px;
    color: $mgray;
    // @include fontsize(10);
  }

}



h1{
  margin: 0;
  padding: 0;
  line-height: 1;
}
// h1に初期状態で設定されているmargin paddingを初期化

a{
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul{
  margin-bottom: 0;
}

li{
  margin-bottom: 0;
}

form {
  margin-bottom: 0;
}

ol {
  margin-bottom: 0;
}

table {
  margin: 0;
}

input {
  margin-bottom: 0;
}